%h1 About Trend App
%p This application was built by Clive Gross (clive@netengine.com.au) using #{ link_to "Ruby on Rails 3.2", 'http://rubyonrails.org/' }.
%p The app uses market data provided by the #{ link_to "Markit on Demand API", 'http://dev.markitondemand.com/' } and graphs data with using #{ link_to "Highcharts", 'http://www.highcharts.com/' }. This is Clive's first independant Rails application and is part of his training in web app development with help from the NetEngine team.
%p Before building this application I completed the following free online tutorials:
%ul
	%li #{ link_to "Why's (poignant) Guide to Ruby", 'http://mislav.uniqpath.com/poignant-guide/' } e-book by Why The Lucky Stiff, 
	%li #{ link_to "Rails for Zombies", 'http://railsforzombies.org/' } course by Envy Labs
	%li #{ link_to "Ruby on Rails Tutorial", 'http://ruby.railstutorial.org/ruby-on-rails-tutorial-book'} e-book by Michael Hartl
%p This app was built as a means of training only. Consequently, you will probably find its functions of little practical use in the stock market!

